.items {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 20px;
  box-sizing: border-box;
  height: calc(100vh - 80px);
}

.item {
  width: 130px;
  height: 130px;
  border: 1px solid #ff9800;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &:hover {
    transition: 0.3s;
    background-color: rgba(255, 152, 0, 0.05);
  }
}
