h1 {
  position: absolute;
  display: inline-block;
}

.main-content {
  max-width: 1700px;
  margin: 0 auto;
}

.avatar-section {
  margin-right: 50px;
  margin-top: 70px;
}

.items-gallery {
  max-width: calc(100vw - 600px);
}

app-action-buttons {
  padding: 20px 0;
}
