h1 {
  position: absolute;
  display: inline-block;
}

.main-content {
  justify-content: center;
}

.avatar-section {
  margin-right: 150px;
  margin-top: 70px;
}

app-action-buttons {
  padding: 20px 0;
}
