<h1>Amelia Maker</h1>
<div class="main-content flex-container space-between">
  <div class="avatar-section">
    <app-avatar *ngIf="avatarService.isAvatarVisible" [avatarState]="avatarService.avatarState"></app-avatar>
    <app-action-buttons></app-action-buttons>
  </div>

  <mat-tab-group class="items-gallery" mat-align-tabs="Beards">
    <mat-tab label="Beards">
      <app-items-grid
        [items]="BEARD_ITEMS"
        (selectItemEv)="avatarService.selectItem($event, ItemCategory.Beard)"
      ></app-items-grid>
    </mat-tab>
    <mat-tab label="Hairs"
      ><app-items-grid
        [items]="HAIR_ITEMS"
        (selectItemEv)="avatarService.selectItem($event, ItemCategory.Hair)"
      ></app-items-grid
    ></mat-tab>
    <mat-tab label="Glasses"
      ><app-items-grid
        [items]="GLASS_ITEMS"
        (selectItemEv)="avatarService.selectItem($event, ItemCategory.Glass)"
      ></app-items-grid
    ></mat-tab>
    <mat-tab label="Hats">
      <app-items-grid
        [items]="HAT_ITEMS"
        (selectItemEv)="avatarService.selectItem($event, ItemCategory.Hat)"
      ></app-items-grid>
    </mat-tab>
    <mat-tab label="Headphones">
      <app-items-grid
        [items]="HEADPHONE_ITEMS"
        (selectItemEv)="avatarService.selectItem($event, ItemCategory.Headphone)"
      ></app-items-grid>
    </mat-tab>
    <mat-tab label="Ties">
      <app-items-grid
        [items]="TIE_ITEMS"
        (selectItemEv)="avatarService.selectItem($event, ItemCategory.Tie)"
      ></app-items-grid>
    </mat-tab>
  </mat-tab-group>
</div>
